<form>
  <label for="lastname">Фамилия:</label>
  <input type="text" id="lastname" name="lastname" required /><br /><br />

  <label for="firstname">Имя:</label>
  <input
    type="text"
    id="firstname"
    name="firstname"
    pattern="[a-zA-Zа-яА-Я]+"
    title="Введите только буквы"
    required
  /><br /><br />

  <label for="username">Логин:</label>
  <input type="text" id="username" name="username" required /><br /><br />

  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required /><br /><br />

  <input type="submit" value="Зарегистрироваться" />
</form>
